/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

$--color-primary: #6451f7;
$--border-color-base: #232323;
$--border-color-hover: #292929;
$--border-color-light: #333;
$--border-color-lighter: #333;
$--background-color-base: #666;
$--color-text-regular: #e3e3e3;
$--color-white: #444;

/* Input
-------------------------- */
$--input-background-color: #444;

/* Select
-------------------------- */
$--select-dropdown-background: #444;


@import "~element-ui/packages/theme-chalk/src/index";