/***
  FONT
*/
$font-size-base: 14px;
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-color-base: #ccc;
$font-color-dark: #888;
$font-color-white: #fff;


/***
  BORDER
*/
$border-color-dark: #111;
$border-color-light: #ccc;


/***
  BACKGROUND
*/
$background-medium-dark: #282d33;
$background-rare-dark: #444;
$background-rare-dark-hover: #666;

$theme-color: #6451f7;
$secondary-theme-color: #2b80ff;


/***
  BUTTON
*/
$button-padding-base: 4px 10px;
$mini-button-padding: 2px 4px;

.cm-disabled-button {
  background-color: $background-medium-dark;
  color: $background-rare-dark;
  cursor: not-allowed;
}
